/*  your css code here. If applicable */
.hero{
	display:flex;justify-content:center;text-align:center;align-items:center;
	position:relative;flex-direction:row;
}
.img {
  width: 400px;
  height: 300px;
  object-fit: cover;                       
  border-radius: 10px;
}
.button{background-color:red ;border:none;padding:5px;border-radius:5px;color:white}